.table-products{
    background-color: #fff;
    widows: 100vw;;
    margin:20px;
    border-radius: 15px;   

}

.products-list{
    overflow-y: scroll;
    height:70vh;
}

@media screen and (max-width: 960px) {

}

