.button-new-product{
    background: none;
    border:solid 2px #aaa;
    margin: 0 15px;
    font-weight: 600;
    font-size: 18px;
    color: #aaa;
    height:30px;
    width:70px;
    border-radius: 15px;
    transition: all 0.3s;
}

.button-new-product:hover{
    color:#f64343;
    border-color:#f64343;
}